<header class="bg-white shadow-sm">{{!-- content header --}}
<div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
    <h1 class="text-lg font-semibold leading-6 text-gray-900">Dashboard</h1>
</div>
</header>

<main>{{!-- content --}}
<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    {{this.activeRoute}}<br/>
    {{yield}}{{!-- Your content --}}
</div>
</main>