<article>
    <h1><LinkTo @route="report" @model={{@report}}>{{@report.name}}</LinkTo></h1>
    <p>
        Text and stuff.
    </p>
    <p>
        Link to <LinkTo @route="report" @model={{@report}}>{{@report.name}}</LinkTo>.
    </p>
</article>