<div>
  <div class="px-4 sm:px-0">
    <h3 class="text-base font-semibold leading-7 text-gray-900">
        <LinkTo @route="report" @model={{@report}} class="font-medium text-indigo-600 hover:text-indigo-500">Report {{@report.name}} Information</LinkTo>
    </h3>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
        Report details and links to delete, reparse, or upload the report.
    </p>
  </div>
  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
        <dt class="text-sm font-medium leading-6 text-gray-900">Turn Data</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            TODO: we should cross link the report and turn data.
        </dd>
      </div>

      <div class="bg-white px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
        <dt class="text-sm font-medium leading-6 text-gray-900">Unit Data</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <div class="px-4 sm:px-6 lg:px-8">
            <div class="mt-8 flow-root">
              <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle">
                  <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                      <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">Unit</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Starting Hex</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Ending Hex</th>
                      </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 bg-white">
                      <tr class="even:bg-gray-50">
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">0138</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">MH 0812</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">MH 0906</td>
                      </tr>
                      <tr class="even:bg-gray-50">
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">1138</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">MH 1812</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">MH 1814</td>
                      </tr>
                      <tr class="even:bg-gray-50">
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">1138g1</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">MH 1812</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">MH 1812</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
        <dt class="text-sm font-medium leading-6 text-gray-900">Uploaded</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            2024/05/19 16:53:12
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
        <dt class="text-sm font-medium leading-6 text-gray-900">Parsed</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            2024/05/19 16:54:22
            <div class="rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Complete</div>

        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
        <dt class="text-sm font-medium leading-6 text-gray-900">Log</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          {{#each @report.log as |logLine|}}
          {{logLine}}<br>
          {{/each}}
        </dd>
      </div>
    </dl>
  </div>
</div>
