<div>
  <div class="px-4 sm:px-0">
    <h3 class="text-base font-semibold leading-7 text-gray-900">
        Report <LinkTo @route="report" @model={{@report}}>{{@report.name}}</LinkTo> Information
    </h3>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
        Report details and links to delete, reparse, or upload the report.
    </p>
  </div>
  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
        <dt class="text-sm font-medium leading-6 text-gray-900">Turn Data</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            TODO: we should cross link the report and turn data.
        </dd>
      </div>
      <div class="bg-white px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
        <dt class="text-sm font-medium leading-6 text-gray-900">Unit Data</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            Information on the units in the report.
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
        <dt class="text-sm font-medium leading-6 text-gray-900">Uploaded</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            2024/05/19 16:53:12
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
        <dt class="text-sm font-medium leading-6 text-gray-900">Parsed</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            2024/05/19 16:54:22
            <div class="rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Complete</div>

        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
        <dt class="text-sm font-medium leading-6 text-gray-900">Log</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          {{#each @report.log as |logLine|}}
          {{logLine}}<br>
          {{/each}}
        </dd>
      </div>
    </dl>
  </div>
</div>
