<article>
    <h1><LinkTo @route="turn" @model={{@turn}}>{{@turn.name}}</LinkTo></h1>
    <p>
        Text and stuff.
    </p>
    <p>
        Link to <LinkTo @route="turn" @model={{@turn}}>{{@turn.name}}</LinkTo>.
    </p>
</article>