<HeroShell @page="index">
<HeroContent>
<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
    Reports to maps, automatically.
</h1>
<p class="mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">
    OttoMap converts your TribeNet turn reports to Worldographer maps.
    It's free and open source, and you can use it to create maps for any game.
    OttoMap comes in two flavors: a desktop server and a cloud server (coming soon).
</p>
<p class="mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">
    You are using the desktop server.
    It is single-user version of the OttoMap web server.
    Everything runs on your computer; nothing is shared with other players.
</p>
</HeroContent>
</HeroShell>